{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="form-group">
    <form method="POST" action="/login">
        {{ form.hidden_tag() }}
     
        {{ form.csrf_token }}        
        {{form.username.label}}
        {{form.username(class_="form-control")}}
        {{form.password.label}}
        {{form.password(class_="form-control")}}
        <!-- <input type="button" value="submit"> -->
        {{form.submit(class_="btn btn-primary")}}
        

    </form>
    {% if form.errors %}
{{ form.errors }}
{% endif %}
</div>
</div>

{% endblock %}